*{
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body{
  min-height: 100vh;
  background-color: rgb(25, 25, 30);
  color: white;
  text-align: center;
}

h1{font-size: 4rem; margin: 1rem; text-shadow: 0 0 5px rgb(0, 0, 0, 1);} h2{font-size: 2.5rem; margin: 16px; text-shadow: 0 0 5px rgb(0, 0, 0, 1);}
h3{font-size: 1.2rem; margin: 1rem; text-shadow: 0 0 5px rgb(0, 0, 0, 1);} p{font-size: 1rem;  margin: 1rem; color: rgb(220, 220, 220);}
li{color: rgb(220, 220, 220);} hr{border: 1px solid rgb(40, 40, 40);} ul{list-style-position: inside; margin: 1rem;}

a{color: rgb(100, 100, 255); text-decoration: none; transition: all 150ms;}
a:hover{color: rgb(140, 140, 255); text-shadow: 0px 0px 5px rgb(60, 60, 255);}
a:active{color: rgb(255, 100, 100); text-shadow: 0px 0px 5px rgb(255, 100, 100);}

img{
  border-radius: 10px;
  border: 1px solid rgb(40, 40, 40);
}

video{
  border-radius: 10px;
  border: 1px solid rgb(40, 40, 40);
}

video:fullscreen{
  border-radius: none;
  border: none;
}

button{
  background-color: rgb(15, 15, 20);
  border: 1px solid rgb(40, 40, 40);
  padding: 1rem 1rem;
  color: white;
  border-radius: 0.625rem;
  margin: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: scale 100ms, box-shadow 200ms;
  cursor: pointer;
}

button:hover{scale: 1.05; box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);}
button:active{scale: 0.95; box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);}

footer{
  background-color: rgb(15, 15, 20);
  width: 100vw;
  color: grey;
  border-top: 1px solid rgb(40, 40, 40);
  margin-top: 15px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}

/* END OF BASE STYLES */

.fancy-button{
  background: rgb(60, 60, 255);
  border-color: rgb(80, 80, 255);
  transition: scale 100ms, box-shadow 400ms;
}

.fancy-button:hover{
  box-shadow: 0px 0px 20px rgb(60, 60, 255);
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container-column{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.card{
  max-width: 21.5rem;
  background: rgb(15, 15, 20);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: scale 150ms, box-shadow 300ms, filter 150ms;
  resize: both;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry;
}

.wide-card{
  max-width: 45.5rem;
  background-color: rgb(15, 15, 20);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 1rem;
  padding: 0.625rem;
  margin: 0.625rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: scale 150ms, box-shadow 300ms;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.media-card{
  width: 100%;
  border-radius: 0.625rem;
}



.header-img{
  width: 80%;
  transition: all 200ms;
  border: none;
}

@media(min-width: 900px){
  .header-img{
    max-width: 50rem;
  }
  .video-card{
    width: 50rem;
  }
}

@keyframes appear{
  from{
    box-shadow: none;
    scale: 0.9;
  }
  to{
    opacity: 1;
    scale: 1;
    filter: none;
  }
}